:root {
  --color-white: #fff;
  --color-black-100: #000;
  --color-black-90: #1b1b1b;
  --color-blue-10: #dee3f3;
  --color-blue-20: #616fa5;
  --color-blue-30: #4f71ed;
  --color-blue-40: #214be8;
  --color-blue-50: #1439c3;
  --color-blue-80: #0f2b94;
  --color-grey-10: #f5f5f5;
  --color-grey-20: #f4f4f4;

  --color-background: var(--color-grey-10);
  --color-foreground: var(--color-black-90);

  font-family: Lexend, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-foreground);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input, textarea, button {
  font-family: inherit;
}
